* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #867eae;
}

h1, h2,
h3, h4,
h5, h6 {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2effe;
}

.container > div {
  width: 100%;
}

ul,
ol {
  padding: 0px;
}

th,
td {
  text-align: center;
}

button {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #666;
	box-shadow: none;
  margin: 1rem 5px;
  background: #eb92de;
  font-weight: bold;
}

#arena div {
  width: 75%;
  margin: 0 auto;
}

#arena p {
  width: 100%;
}

#arena span {
  display: none;
  font-size: small;
  padding-left: .5rem;
}

#arena span.winner {
  display: inline;
}

#history table {
  margin: 0 auto;
}

#reset button {
  width: 100%;
  margin: 0 auto;
}

#shoot {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#shoot button,
#history th  {
  width: 30%;
}

#history {
  margin: 1rem 0;
}

#log li {
  list-style-type: none;
  font-size: small;
}

#logList {
  min-height: 1rem;
}

#reset {
  margin-top: 2rem;
}